---
export const prerender = true;

import { en as t } from '../i18n/en';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import SocialProof from '../components/SocialProof.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import ExportFormats from '../components/ExportFormats.astro';
import CtaSection from '../components/CtaSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title={t.site.title} description={t.site.description}>
  <Header />
  <main>
    <Hero />
    <SocialProof />
    <Features />
    <HowItWorks />
    <ExportFormats />
    <CtaSection />
  </main>
  <Footer />
</Layout>
